In [254]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [256]:
data = pd.read_csv("./movies_with_tamil_added.csv", encoding='ISO-8859-1')
data.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [258]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1191 non-null   object
 1   Series_Title   1200 non-null   object
 2   Released_Year  1200 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1200 non-null   object
 6   IMDB_Rating    1200 non-null   float64
 7   Overview       1200 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1200 non-null   object
 10  Star1          1200 non-null   object
 11  Star2          1200 non-null   object
 12  Star3          1198 non-null   object
 13  Star4          1198 non-null   object
 14  No_of_Votes    1200 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 150.1+ KB

In [260]:
data = data.drop(columns=['Poster_Link', 'Certificate', 'Meta_score', 'Gross','Runtime'])

In [262]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1200 non-null   object
 1   Released_Year  1200 non-null   object
 2   Genre          1200 non-null   object
 3   IMDB_Rating    1200 non-null   float64
 4   Overview       1200 non-null   object
 5   Director       1200 non-null   object
 6   Star1          1200 non-null   object
 7   Star2          1200 non-null   object
 8   Star3          1198 non-null   object
 9   Star4          1198 non-null   object
 10  No_of_Votes    1200 non-null   int64
dtypes: float64(1), int64(1), object(9)
memory usage: 103.3+ KB

In [264]:
data = data.drop(index=[1054, 1177]).reset_index(drop=True)

In [266]:
data = data[data['Overview'] != "Yet to be Released"].reset_index(drop=True)

In [268]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1193 entries, 0 to 1192
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1193 non-null   object
 1   Released_Year  1193 non-null   object
 2   Genre          1193 non-null   object
 3   IMDB_Rating    1193 non-null   float64
 4   Overview       1193 non-null   object
 5   Director       1193 non-null   object
 6   Star1          1193 non-null   object
 7   Star2          1193 non-null   object
 8   Star3          1193 non-null   object
 9   Star4          1193 non-null   object
 10  No_of_Votes    1193 non-null   int64
dtypes: float64(1), int64(1), object(9)
memory usage: 102.7+ KB

In [270]:
data.isna().sum()

Series_Title     0
Released_Year    0
Genre            0
IMDB_Rating      0
Overview         0
Director         0
Star1            0
Star2            0
Star3            0
Star4            0
No_of_Votes      0
dtype: int64

In [272]:
data['combined_features'] = data['Overview'] + ' ' + data['Genre'] + ' ' + data['Director'] + ' ' + \
                            data['Star1'] + ' ' + data['Star2'] + ' ' + data['Star3'] + ' ' + data['Star4']

In [294]:
data.to_csv('movies_cleaned.csv', index=False)

In [274]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_rec = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(data['combined_features'])

In [276]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [278]:
data = data.reset_index()
indices = pd.Series(data.index, index=data['Series_Title'].str.lower())

def recommend(title, cosine_sim=cosine_sim):
    title = title.lower()
    if title not in indices:
        return "Movie not found in dataset."

    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:6]  

    movie_indices = [i[0] for i in sim_scores]
    return data['Series_Title'].iloc[movie_indices]

In [292]:
print(recommend("Ghilli"))

1170      Roja
1120     Jilla
1093    Bombay
1111    Veeram
1107    Anegan
Name: Series_Title, dtype: object

In [286]:
import joblib

joblib.dump(tfidf_rec, 'tfidf_vectorizer_Rec.pkl')

joblib.dump(tfidf_matrix, 'tfidf_matrix_Rec.pkl')

data[['Series_Title', 'combined_features']].to_csv('movie_data_processed.csv', index=False)